<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <%- include('_nav') %>
        <main class="content">
            <h1>Inventory Management</h1>
            <hr class="divider">

            <div class="top-bar">
                <!-- <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Search ID" />
                    <button id="searchButton">Search</button>
                </div> -->
                <div class="actions-container">
                    <a id="addBtn" class="button" href="/inventory/add">
                        <img src="/assets/addIcon.png" alt="Add" width="16" height="16"> Add
                    </a>
                    <a id="viewBtn" class="button" href="">
                        <img src="/assets/deleteIcon.png" alt="View" width="16" height="16"> View
                    </a>
                    <a id="editBtn" class="button" href="">
                        <img src="/assets/editIcon.png" alt="Edit" width="16" height="16"> Edit
                    </a>
                    <a id="stockoutBtn" class="button" href="/inventory/stockout">
                        <img src="/assets/deleteIcon.png" alt="Stockout" width="16" height="16"> Stockout
                    </a>
                </div>
            </div>

            <table id="invTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(d => { %>
                        <tr>
                            <td><%= d.id %></td>
                            <td><%= d.name %></td>
                            <td><%= d.quantity %></td>
                            <td><%= d.cost %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </main>
    </div>

    <script src="/js/tablerowclick.js"></script>
    <script src="/js/inventory.js"></script>
</body>
</html>
